<ion-view title="navTitle" hide-back-button="true" left-buttons="leftButtons" right-buttons="rightButtons"
      hide-back-button="true">

    <ion-content has-header="true" padding="true">
        <h2>1 {{navTitle}}</h2>

   <ion-slide-box>
                    <ion-slide >
                        <img ng-src="img/beautiful-03.jpg" style="width:300px;height:300px;margin:auto;display:block" >
                    </ion-slide>
               
                <ion-slide >
                        <img ng-src="img/beautiful-03.jpg" style="width:300px;height:300px;margin:auto;display:block" >
                    </ion-slide>
              
                <ion-slide >
                        <img ng-src="img/images.jpeg" style="width:300px;height:300px;margin:auto;display:block" >
                    </ion-slide>
</ion-slide-box>

    </ion-content>

</ion-view>
